#########
# QGIS-Server-Light runtime settings
#########
QSL_LOG_LEVEL=debug

#########
# Settings for compose build time
#########
UID=<your-host-system-user-id-here>
GID=<your-host-system-users-group-id-here>

#########
# Settings for compose runtime deployment
#########
REPLICAS=1
