#########
# QGIS-Server-Light runtime settings
#########
QSL_LOG_LEVEL=debug
QSL_REDIS_URL=redis://redis:6379
QSL_SVG_PATH=/io/svg
QSL_DATA_ROOT=/io/data
QSL_ALGORITHM_IDS="native:buffer native:centroids native:concavehull native:rasterlayerproperties native:rescaleraster native:collect native:rasterize native:affinetransform"

#########
# Settings for docker/docker compose build/run time
#########
REPLICAS=1
