#########
# QGIS-Server-Light runtime settings
#########
QSL_LOG_LEVEL=debug
QSL_REDIS_URL=redis://redis:6379
QSL_SVG_PATH=/io/svg
QSL_DATA_ROOT=/io/data

#########
# Settings for compose build time
#########
UID=<your-host-system-user-id-here>
GID=<your-host-system-users-group-id-here>

#########
# Settings for compose runtime deployment
#########
REPLICAS=1
